/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* LETRAS */
h2 {
    color: #ff950d;
    font-weight: 400;
    font-size: 26px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* TÍTULO */
div#titulo {
    padding: 20px 30px;
}

/* BARRA DE NAVEGAÇÃO */
header {
    width: 100%;
    background: #ff950d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

header ul {
    display: flex;
    padding: 10px 30px;
}

header ul li {
    margin-right: 30px;
    list-style: none;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header img {
    display: none;
    width: 17px;
    margin-right: 30px; 
    cursor: pointer;
}

/* BARRA DE NAVEGAÇÃO !BOTÃO */
section ul#navbarBtn {
    transform: translateX(-100%);
    transition: ease 500ms;
}

section ul li.listaMenus1 {
    display: flex;
    justify-content: center;
    background: #ff950d;
    padding: 10px 30px;
    border-bottom: 5px solid #00000025;
    display: none;
    transition: ease 1s;
}

section ul li.listaMenus1 a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* IMG */
section#seçao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("../imgs/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    margin-bottom: 30px;
}

section > div#texto {
    color: white;
    align-self: flex-end;
    padding: 50px;
    overflow: hidden;
}

section > div#texto h2 {
    color: white;
    font-weight: 300;
    margin-bottom: 5px;
}

section > div#texto p {
    font-weight: 200;
    font-size: 16px;
}

/* TABELAS */
div#tabelas {
    display: flex;
    width: 100%;
    float: left;
}

div#main {
    margin-right: 1vw;
}

div#card {
    background: #dddddd;
    align-items: center;
    display: flex;
    padding-left: 50px;
    width: 48vw;
    float: left;
}

p.texto-card {
    color: #e72a34;
    font-size: 2.5em;
    margin-bottom: 20px;
    width: 100%;
}

/* RESPONSIVO */
@media (max-width: 225px) {
    header img {
        display: inherit;
    }

    header ul li.listaMenus {
        display: none;
    }

    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 2%;
        font-size: 5px;
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 3px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 0.4em;
        float: left;
        
    }
}

@media (min-width: 226px) and (max-width: 322px) {
    header img {
        display: inherit;
    }

    header ul li.listaMenus {
        display: none;
    }

    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 5%;
        font-size: 7px;
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 5px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 0.6em;
        float: left;
        
    }
}

@media (min-width: 323px) and (max-width: 434px) {
    header img {
        display: inherit;
    }

    header ul li.listaMenus {
        display: none;
    }

    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 2%;
        font-size: 10px;
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 8px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 0.8em;
        float: left;
        
    }
}

@media (min-width: 435px) and (max-width: 479px) {
    header img {
        display: inherit;
    }

    header ul li.listaMenus {
        display: none;
    }

    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 6%;
        font-size: 12px;
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 10px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 1em;
        float: left;
        
    }
}

@media (min-width: 480px) and (max-width: 500px) { 
    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 6%;
        font-size: 12px;
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 10px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 1.2em;
        float: left;
        
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 10%;
        font-size: 12px;
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 10px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 1.4em;
        float: left;
        
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 10%;
        font-size: 16px;
    }
    section#seçao > div#texto > p {
        margin-top: 3%;
        font-size: 12px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 1.6em;
        float: left;
        
    }
}

@media (min-width: 701px) and (max-width: 850px) {
    section#seçao
     {
        display: flex;
        height: 30vh;
        margin-right: none;
    }
    section#seçao > div#texto {
        align-items: center;
        height: 25vh;
        padding: 30px 0 20px 30px;
    }
    section#seçao > div#texto > h2 {
        margin-top: 10%;  
        font-size: 20px;              
    }
    section#seçao > div#texto > p {
        margin-top: 2%;
        font-size: 14px;
    }
    div#card {
        margin-top: 250px;
        padding-left: 30px;
    }   
    p.texto-card {
        font-size: 1.8em;
        float: left;
        
    }
}

@media (min-width: 851px) {
    section > div#texto > p
     {
        font-size: 14px;
        padding-bottom: 12px;
    }
    section > div#texto > h2
     {
        font-size: 20px;
    }
}
